<body class="index-page">
    <div class="card card-pin raco">
        <div class="content-area overlay-link">
            <!-- Image area with overlay -->
            <div class="image-area">
                <!-- Transparent overlay for the image -->
                <div class="image-overlay">
                    <a href="{{site.baseurl}}{{post.url}}" class="overlay-link"></a>
                </div>
                <a href="{{site.baseurl}}{{post.url}}">
                    <img class="card-img" src="{% if post.image contains '://' %}{{ post.image }}{% else %}{{ post.images_folder }}{{ post.image }}{% endif %}" alt="{{ post.title }}" loading="lazy">
                </a>
                <!-- Title area (initially hidden, shown on hover) -->
                <div class="title-area">
                    <h5 class="card-title title">{{ post.title }}</h5>
                </div>
            </div>
        </div>
    </div>
</body>
