<div class="card card-pin raco">
    <div class="content-area overlay-link">
        <!-- Image area with overlay -->
        <div class="image-area">
            <!-- Transparent overlay for the image -->
            <div class="image-overlay">
                <a href="{{site.baseurl}}{{post.url}}" class="overlay-link"></a>
            </div>
            <a href="{{site.baseurl}}{{post.url}}">
                <img class="card-img" src="{% if post.image contains '://' %}{{ post.image }}{% else %}{{ site.baseurl }}{{ post.images_folder }}{{ post.image }}{% endif %}" alt="{{ post.title }}" loading="lazy">
            </a>
        </div>
        
    </div>

    <!-- Title area -->
    <div class="title-area">
        {% if page.url == '/works.html' %}
        <a href="{{site.baseurl}}{{post.url}}">
            <h5 class="card-title title">{{ post.title }}</h5>
          </a>
        {% endif %}
    </div>
</div>