:root {
  --ki-color: rgb(0,0,200);
  --baseline-grid: 2.3rem;
}

hr {
  margin-top: 0;
  border: none;
  border-top: 0.5px solid #D3D3D3;
}

.col-md-6 {
  padding-top: 5px;
}

.col-md-3 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 30px;
  padding-left: 15px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 94%;
  margin: 0px auto;
  max-width: 94%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 0px;
  padding-left: 0px;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: #e5e5e5;
}

.mt-min {
  margin-top: 0.2rem !important;
}

.caption-text {
  color: #696969;
  max-width: 220px;
  position: relative;
  font-size: calc(var(--baseline-grid)/3.3);
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  margin-top: 0;
  line-height: calc(var(--baseline-grid)/2.2);
  font-style: normal;
}

.table.caption-text {
  max-width: none;
}

.table-bottom-border {
  border-bottom: 0.5px solid #d3d3d3;
  margin-bottom: 0 !important;
  padding-bottom: var(--baseline-grid);
}

.image-with-caption {
  display: block;
  align-items: center;
}

.image-with-caption img {
  max-width: 30%;
  transition: max-width 0.5s ease;
}

.image-with-caption img:hover {
  max-width: 50%;
}

.image-with-caption .caption {
  margin: 0;
  font-size: smaller;
}

.gif-container {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.responsive-gif {
  width: 100%;
  height: auto;
  display: block;
}

.container-page {
  width: 94%;
  margin: 0px auto;
  max-width: 94%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 0px;
  padding-left: 0px;
}

.form-body {
  width: 100%;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #000;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-control::-webkit-input-placeholder {
  color: #D3D3D3;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #D3D3D3;
  opacity: 1;
}

.form-control::-ms-input-placeholder {
  color: #D3D3D3;
  opacity: 1;
}

.form-control::placeholder {
  color: #D3D3D3;
  opacity: 1;
}

.credits {
  font-family: "Sofia Sans Extra Condensed", sans-serif;
  font-weight: 1;
  font-style: normal;
  font-size: 11pt;
  margin-right: 1px;
  text-transform: uppercase;
  word-spacing: 0.01em;
}

.btn {
  font-size: small;
  font-weight: 300;
}

.navbar-toggler {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  background-color: transparent;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  background: no-repeat center center;
  background-size: 100% 100%;
  border: none !important;
}

.navbar-nav .nav-item .nav-link,
.navbar-nav .nav-item .dropdown-item {
  font-weight: 350;
  padding-right: 0 !important;
  padding-left: 17px !important;
  color: #D3D3D3 !important;
}

.navbar-nav .nav-item .nav-link:hover,
.navbar-nav .nav-item .dropdown-item:hover {
  color: rgb(0,0,200) !important;
}

.navbar {
  width: 94%;
  margin: 0px auto;
  max-width: 94%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 0px;
  padding-left: 0px;
}

/* Specific styles for email links */
a[href^="mailto:"] {
  text-decoration: underline; /* Add underline only for email links */
  color: rgb(0, 0, 200); /* Optional: Ensure consistent email link color */
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
}

a,
.a:hover {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.container-fluid {
  width: 94%;
  margin: 0px auto;
  max-width: 94%;
  padding-right: 0px;
  padding-left: 0px;
}

.border-round-0 {
  border-radius: 0;
}

blockquote {
  border-left: 7px solid #333;
  padding-left: 20px;
  margin-left: 20px;
  font-style: italic;
}

body {
  font-family: 'IBM Plex Mono', monospace;
  font-variant-numeric: slashed-zero;
  font-size: 10pt;
  letter-spacing: -0.01em;
  padding-top: calc(var(--baseline-grid)*1.5);
}

.special-char {
  font-family: 'IBM Plex Sans', sans-serif;
  font-style: normal;
}

article h1,
article h4,
article h5,
article h6 {
  margin-bottom: 2rem;
}

article h3,
h2 {
  margin-top: 3rem;
}

article .card-body {
  padding: 1.25rem 0rem;
  margin-bottom: var(--baseline-grid);
}

h1,
h2,
h5,
h6,
.h1,
.h2,
.h5,
.h6 {
  font-weight: 700;
}

h1.display-1 {
  font-family: "Bebas Neue", sans-serif;
  font-style: normal;
  font-size: 4rem;
  font-weight: 400;
  line-height: 0.9;
  margin-top: 1rem;
}

h2 {
  color: #D3D3D3;
  font-size: 3rem;
  font-weight: normal;
  font-family: "Bebas Neue", sans-serif;
  font-style: normal;
  margin-bottom: 8px;
  line-height: 0.9;
}

h3 {
  color: #D3D3D3;
  font-style: normal;
  font-weight: normal;
  font-family: "Bebas Neue", sans-serif;
  margin-bottom: 0;
}

h4 {
  color: #808080;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.45;
  letter-spacing: 0;
}

h5 {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 400;
  font-size: 1.5rem;
}

.mt-neg100 {
  margin-top: -100px;
}

.min-50vh {
  min-height: 50vh;
}

.dropdown-header {
  font-size: 1.5rem;
}

.fixed-top {
  border-bottom: 1px solid #f1f1f1;
}

.footer {
  position: relative;
  padding-top: 3rem;
  margin-top: 1rem;
}

.footer-cap {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 30px;
  background-color: #D3D3D3;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}

.cap-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 12px;
  color: #666;
}

.social-link {
  color: #666;
  text-decoration: none;
}

.social-link:hover {
  color: #333;
}

.license-text {
  text-align: right;
}

.footer-content {
  margin-top: 2rem;
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  background-color: #008CBA;
}

.card {
  background-color: transparent;
  border: 0;
  transition: ease .1s;
}

.more {
  color: white;
  font-size: 14px;
  position: absolute;
  bottom: 9px;
  right: 10px;
  text-transform: uppercase;
  -webkit-transform: translate(-20%, -20%);
  transform: translate(-20%, -20%);
  -ms-transform: translate(-50%, -50%);
}

.card-img {
  width: 100%;
  border-radius: 0;
}

.card-body {
  text-align: left;
  font-style: italic;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  margin-top: 0;
  line-height: var(--baseline-grid);
}

.card-body h4 {
  margin: 0;
  padding: 0;
  line-height: var(--baseline-grid);
  margin-bottom: var(--baseline-grid);
}

.card-body a {
  color: #D3D3D3;
  text-decoration: underline;
}

.card-body a:hover {
  color: rgb(0,0,200);
  text-decoration: none;
}

.card-pin.raco {
  position: relative;
}

.card-pin {
  position: relative;
}

.content-area .image-area .image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #f1f1f1;
  transition: opacity 0.2s ease-in-out;
}

.card-pin:hover .image-area .image-overlay,
.card-pin:hover .title-area {
  opacity: 0.8;
  cursor: pointer;
}


/* This controls the column counts for the landing page which overides default bootstrap*/

.card-columns {
  column-count: 2;  
  column-gap: 1.25rem;
}

/* Make it responsive */
@media (max-width: 575px) {
  .card-columns {
      column-count: 1;  /* Single column on mobile */
  }
}

/* Optional: if you want 3 columns on very large screens */
@media (min-width: 1400px) {
  .card-columns {
      column-count: 2;
  }
}

/* Ensure proper card spacing */
.card-columns .card {
  margin-bottom: 1.25rem;
  display: inline-block;
  width: 100%;
}

.content-area .image-area .image-overlay:hover {
  opacity: 0.5;
  cursor: pointer;
}

.overlay-link {
  display: block;
  width: 100%;
  height: 100%;
}

.index-page .title-area {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  text-align: center;
  padding: 10px;
}

.index-page .image-area:hover .title-area {
  opacity: 1;
}

.card-title {
  color: black;
  z-index: 2;
  text-align: center;
  margin-bottom: 0;
}

.card-pin:hover .card-title {
  color: rgb(0,0,0);
  transition: ease .2s;
}

.card-pin.raco .card-title {
  text-align: center;
}

.card.card-pin.raco:hover .wrapcat {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex-direction: row;
  -moz-box-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  border-radius: 0px;
  transition: all 0.2s;
}

.card-pin.raco:hover i.text-muted {
  color: #333 !Important;
  transition: all 0.2s;
  position: relative;
}

.car-pin.raco:hover .fa:before {
  -webkit-animation: pulse 2s ease-in;
  -moz-animation: pulse 2s ease-in;
  animation: pulse 2s ease-in;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.gotopost {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #fff;
  font-size: 12px;
  font-weight: 700;
  padding: 0px 5px 1px 5px;
  border-radius: 2px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.social {
  position: relative;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.social .fa {
  margin: 0 3px;
}

.socials-media .fab {
  font-size: 14px;
  color: rgb(211, 211, 211);
  transition: color 0.3s ease;
}

.socials-media .fab:hover {
  color: rgb(0, 0, 200);
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: transparent;
}

.btn-gray {
  background-color: #efefef;
  color: #333;
}

.btn-gray:hover {
  background-color: #ddd;
}

.btn-trans {
  background-color: #ffffff; /* White background */
  color: rgb(0,0,200); /* LightGray text color */
  border: 3px solid rgb(0,0,200); /* LightGray border */
  text-decoration: none !important; /* Remove underline */
  font-style: italic;
  padding: 2px 13px; /* Adjust padding as needed */
  border-radius: 9999px; /* Makes the corners rounded */
  display: inline-block; /* Ensures the element behaves like a button */
}

.btn-trans:hover {
  background-color: rgb(0,0,200);
  /* White background */
  color: #ffffff;
  /* Black text color */
  border: 3px solid rgb(0,0,200);
  /* Add a 1px solid border with LightGray color */
}

.navbar-nav.categories a {
  font-size: 15px;
  font-weight: 700;
  margin-left: 15px;
  line-height: 0.8;
}

.content-area {
  position: relative;
  /* Optionally, ensure .content-area is positioned */
}

.wrapcat {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
}

.showcat {
  margin: auto;
  padding: 0;
}

.wrapcat .btn {
  border: 0;
  padding: 0 6px 2px 6px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  font-size: 13px;
}

.PageNavigation {
  display: flex;
  justify-content: space-between;
}

.PageNavigation a {
  color: #D3D3D3;
  text-align: center;
  border-radius: 40px;
  line-height: 1.3;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  display: flex;
  align-items: center;
}

.PageNavigation a .fas {
  font-size: 26px !important;
}

/* change here to change the pagination text color */
.pagination {
  color: #D3D3D3;
}

.pagination a {
  color: #D3D3D3;
}

.pagination a:hover {
  background-color: #f1f1f1;
  color: #D3D3D3;
  text-decoration: none;
}

.pagination span,
.pagination a {
  padding: 7px 18px;
  border: 1px solid #eee;
  margin-left: -2px;
  margin-right: -2px;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
}

.pagination span.webjeda {
  background: #333;
  color: #fff;
  border: 1px solid #333;
}

.pagination a,
.pagination span.prev,
.pagination span.next {
  background-color: #ffffff;
}

.pagination {
  color: #D3D3D3;
}

.pagination a {
  color: #D3D3D3;
}

.pagination a:hover {
  background-color: #f1f1f1;
  color: #D3D3D3;
  text-decoration: none;
}

.pagination {
  text-align: center;
}

.PageNavigation a i {
  font-size: 40px;
  width: 26px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;

}
.PageNavigation a:hover {
  color: rgb(0,0,200);
}

a.prev {
  position: relative;
}

a.next {
  position: relative;
}

.PageNavigation a.page-up {
  font-size: 25pt !important; /* Ensure font size matches */
  font-weight: 100 !important; /* Ensure font weight matches */
  color: #D3D3D3; /* Text color */
  text-align: center; /* Center align text */
  border-radius: 40px; /* Rounded corners */
  line-height: 1.3; /* Line height */
  background-color: rgba(255, 255, 255, 0); /* Transparent background */
  border: none; /* No border */
  display: flex; /* Use flexbox */
  align-items: center; /* Center items vertically */
  text-decoration: none; /* Remove underline */
}

.PageNavigation a.page-up:hover {
  color: rgb(0,0,200); /* Text color on hover */
  background-color: #f1f1f1; /* Background color on hover */
}


/* Add this to your theme.css */

@keyframes dissolve {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.dissolve {
  animation: dissolve 1s ease-in;
}

input::placeholder,
textarea::placeholder {
    font-size: 13px; /* Adjust this to your desired font size */
    color: #a0a0a0;  /* Optional: Adjust the placeholder color */
}

#scroll-indicator {
  position: fixed;
  bottom: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  transition: opacity 0.5s ease; /* Smooth transition for showing/hiding */
}

.chevron-down {
  animation: bounce 2s infinite;
  color: #666;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}


.scroll-indicator-visible {
  opacity: 0.2 !important;
}

.scroll-indicator-hidden {
  opacity: 0 !important;
}