<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">    
    <title>{{ page.title }} | {{ site.name }}</title>
    
    {% seo %}
    
    <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/{{ site.favicon }}">
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/bootstrap.css">
    
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/theme.css">
    
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sofia+Sans+Extra+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    {% include tracking-header.html %}

    <style>
        .navbar-brand img {
            height: 20px;
            transition: all 0.3s ease;
        }
        @media (max-width: 768px) {
            .navbar-brand img {
                height: 16px;
            }
        }
    </style>
    
</head>

    
<body>
    
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: rgba(255, 255, 255, 0.98);">
        <a class="navbar-brand font-weight-bolder mr-3" href="{{ site.baseurl }}/index.html">
            <img src="{{ site.baseurl }}/assets/images/logo/logo.png" alt="Home" id="logo-img">
        </a>
        <button class="navbar-light navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsDefault">        
            <ul class="navbar-nav mr-auto align-items-center">            
                <!-- Lunr.js search bar removed -->
            </ul>
            <ul class="navbar-nav ml-auto align-items-center">
                {% include menu-header.html %}
            </ul>
        </div>
    </nav>
    
    
    <!-- Lunr.js search results div removed -->
    
    <main role="main">        
        {{ content }}        
    </main>
    
    <footer class="footer">     
            <div class="socials-media">   
                <ul class="list-unstyled">
                    {% include footer-social.html %}
                </ul>    
            </div>
            {% include footer-copyright.html %}
        </div>
    </footer>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    
    <script src="{{ site.baseurl }}/assets/js/theme.js"></script>
    
    <!-- Lunr.js script removed -->
    
    {% include tracking-footer.html %}

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const logoImg = document.getElementById('logo-img');
            const originalSrc = logoImg.src;
            const hoverSrc = originalSrc.replace('logo.png', 'logo-hover.png');

            logoImg.addEventListener('mouseover', function() {
                this.src = hoverSrc;
            });

            logoImg.addEventListener('mouseout', function() {
                this.src = originalSrc;
            });
        });
    </script>
    
</body>
</html>