---
layout: default
---

<head>
  <!-- Other head elements -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ideal-image-slider/1.5.1/ideal-image-slider.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ideal-image-slider/1.5.1/themes/default/default.css">
</head>

<body>
  <section class="bg-transparent pb-5" style="padding-left: 3px; padding-right: 3px;">
    <div class="container">
      <div class="mt-10 mb-10"></div>
      
      <!-- First row: Post Title and Categories -->
      <div class="row justify-content-center">
        <div class="col-md-3"></div>
        <div class="col-md-12 col-lg-12">  <!-- Made wider with col-lg-9 -->
          <!-- Post Title and Categories -->
          <div class="d-flex justify-content-between align-items-center mb-2">
            <div class="d-flex justify-content-center align-items-center rounded-circle" style="width: 25px; height: 25px; background-color: black; font-size: 12px;">
              <span class="text-white">{% include post-counter.html %}</span>
            </div>
            <div>
              {% for category in page.categories %}
              <a class="btn btn-sm btn-trans" href="{{ '/works.html#' | append: category | downcase | relative_url }}">
                <span class="special-char">#</span>{{ category }}
              </a>
              {% endfor %}
            </div>
          </div>
          
          <hr>
          <h1 class="display-1 font-weight-normal">{{ page.title }}</h1>
          <hr>
          
          <!-- Main Image Slider -->
          {% if page.images %}
          {% assign image_count = page.images | size %}
          {% if image_count > 1 %}
            <div id="slider3" class="ideal-image-slider iis-effect-slide">
              {% for image in page.images %}
                <a data-src="{{ page.images_folder | append: image | relative_url }}" class="iis-slide">
                  <img src="{{ page.images_folder | append: image | relative_url }}" alt="Slide {{ forloop.index }}" class="slider-img"/>
                </a>
              {% endfor %}
            </div>
          {% else %}
            <img class="card-img" src="{{ page.images_folder | append: page.images[0] | relative_url }}" alt="Single Image" loading="lazy">
          {% endif %}
        {% else %}
          {% if page.image %}
            <img class="card-img" src="{{ page.image | relative_url }}" alt="{{ page.title }}" loading="lazy">
          {% endif %}
        {% endif %}
          
        </div>
      </div>
      
      <!-- Second row: Caption and Article -->
      <div class="row justify-content-center">
        <div class="col-md-3" style="padding-right: 15px !important;">
          <br><hr>
          <div class="row">
            <div class="col-md-12 col-sm-6">
              <!-- Caption Text -->
              <div class="caption-text">
                <p>{{ page.caption1 }}</p>
              </div>
            </div>

            <div class="col-lg-12 col-sm-6">
              <div class="caption-text">
                {% if page.caption_images_list %}
                  {% assign image_count = page.caption_images_list | size %}
                  {% if image_count == 1 %}
                    <img src="{{ page.images_folder | append: page.caption_images_list[0] | relative_url }}" alt="Caption Image" class="img-fluid mb-3" loading="lazy">
                  {% else %}
                    <div id="caption-slider" class="ideal-image-slider iis-effect-slide">
                      {% for image in page.caption_images_list %}
                        <a data-src="{{ page.images_folder | append: image | relative_url }}" class="iis-slide">
                          <img src="{{ page.images_folder | append: image | relative_url }}" alt="Caption Image {{ forloop.index }}" class="slider-img"/>
                        </a>
                      {% endfor %}
                    </div>
                  {% endif %}
                {% endif %}
              </div>
            </div>

            <div class="col-md-12 col-sm-6">
              <!-- Caption Text -->
              <div class="caption-text">
                <p>{{ page.caption2 }}</p>
              </div>
            </div>

          </div>
        </div>

        
        <div class="col-md-9 col-lg-9">  <!-- Made wider with col-lg-9 -->
          <br><hr>
          <article class="card">
            <div class="card-body">
              {{ content }}
            </div>
          </article>

          <div class="table-responsive" style="margin-bottom: 0 !important;">
            <table class="table caption-text table-bottom-border">
              <tbody>
                {% for row in page.table_data %}
                <tr>
                  <td>{{ row.title }}</td>
                  <td>{{ row.value }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>   
          </div>
        </div>
      </div>

      <!-- Navigation row -->
      <div class="row justify-content-center">
        <div class="col-md-3"></div>
        <div class="col-md-9 col-lg-9">  <!-- Made wider with col-lg-9 -->
          <div class="PageNavigation">
            {% if page.next.url %}
              <a class="prev" href="{{ page.next.url | relative_url }}">
                <i class="fas fa-arrow-circle-left"></i>
              </a>
            {% else %}
              <span class="prev placeholder"> </span>
            {% endif %}
            {% if page.previous.url %}
              <a class="next" href="{{ page.previous.url | relative_url }}">
                <i class="fas fa-arrow-circle-right"></i>
              </a>
            {% else %}
              <span class="next placeholder"> </span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

    <script src="/assets/js/theme.js"></script>
  </section>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/ideal-image-slider/1.5.1/ideal-image-slider.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var slider = new IdealImageSlider.Slider('#slider3');
      slider.start();
      
      var captionSlider = document.getElementById('caption-slider');
      if (captionSlider) {
        var captionSliderInstance = new IdealImageSlider.Slider('#caption-slider');
        captionSliderInstance.start();
      }
    });
  </script>
</body>
